.button-group {
  margin: $pad;

  a {
    display: inline-block;
    padding: 5px 3px;
    font-size: 0.8em;
    font-family: $ff-sans;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;

    &:hover {
      color: black;
    }

    &.mostrar-todo {
      color: #000;

      &:hover {
        color: $gray-light-semi;
      }
    }
  }
}
