.post-type-archive-dialogos {
  .page-header {
    @extend .dashed-gray;
  }

  article {
    padding-bottom: $pad;

    .anio,
    .mes {
      display: block;
      margin-top: $pad;
      margin-bottom: 0;
      padding-bottom: $pad;

      @extend .dashed-gray;

      &::after {
        position: relative;
        bottom: -$pad;
      }

      span {
        display: block;

        @extend .pad;
      }
    }

    .header {
      @extend .pad;
    }

    @extend .dashed-gray;

    &::after {
      position: relative;
      bottom: -$pad;
    }
  }
}
