.single-cuento,
.que,
.single-dialogo,
.single-project {
  .content {
    padding-top: $pad-4;

    @extend .pad;

    .main {
      @extend .centrar;
    }

    img {
      height: auto;
    }

    figure {
      margin-bottom: 4rem;

      figcaption {
        font-size: 0.8rem;
      }
    }
  }
}
